.body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.dialog{
    width: 30%;
    padding: 15px;
    border: 1px solid black;
   }
.showDialog{
    width: 70%;
    padding: 15px;


}
.a{
    text-decoration: none;
    color: black;
    margin-bottom: 20px;

}
.createMeassage{
    width: 70%;
    margin-top:50px;
    padding: 20px;

}
.textarea{
    width: 60%;
    height: 50px;
    margin-bottom: 10p;
    background: var(--main-textarea-color);
    border:none
}
.button{
    border: none;
    width: 60px;
    padding: 5px;
    border-radius: 5px;
    background: #263242;

}

